<!-- Modals -->
<div class="colored-header catalogModal">

    <div class="modal-content">
        <div class="modal-header">
            <h3>{{model.name}}</h3>
            <button type="button" class="close md-close" aria-hidden="true" ng-click="close()">&times;</button>
        </div>
        <div class="modal-body form">
            <div class="form-group">
                <div class="detailItemInfo" rad-loader="isLoading">
                    <div class="col-xs-12">
                        <div class="main-image">
                            <img class="itemPicture{{key}}" src="{{model.images[0]}}" ng-if="model.images&&model.images.length>0">
                        </div>
                    </div>

                    <div class="col-sx-12">
                        <p class="itemCost" ng-show="model.cost">{{model.cost | radAmountFilter}} ₽</p>

                        <div class="itemImages owl-carousel" id="carousel{{model.id}}">
                            <div class="item" ng-repeat="imageUrl in model.images" id="smallPictures{{key}}"
                                 rad-on-finish-render-ng-repeat="onFinishRenderImages" item-id="{{model.id}}">

                                <div class="smallImage smallImageItem{{$index}}" ng-class="{active: $index==0}"
                                     ng-click="showPicture(imageUrl, key, $index)">
                                    <img src="{{imageUrl}}">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <!--<div class="description">
                        <div ng-bind-html="item.description" class="descText" id="desc{{key}}"></div>
                    </div>-->
                </div>
            </div>

        </div>

    </div>
    <!-- /.modal-content -->

</div><!-- /.modal -->