<!-- Modals -->
<div class="colored-header catalogModal">

        <div class="modal-content">
            <div class="modal-header">
                <h3>Удаление товара</h3>
                <button type="button" class="close md-close" aria-hidden="true" ng-click="close()">&times;</button>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <label>Подтвердите удаление товара</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal" ng-click="close()">Отменить</button>
                <button type="button" class="btn btn-primary btn-flat md-close" ng-click="remove()">Подтвердить</button>
            </div>
        </div><!-- /.modal-content -->
    
</div><!-- /.modal -->