.shop-menu-head{
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
}
.shop-btn-add-area{
    width:100%;
}
.shop-tovar-item h4{
    margin-top:-5px;
}
.shop-tovar-item .actions{
    margin-top:-7px;
}
/*------------------*/
.catalogModal h3{
    font-size:18px;
    float:left;
    margin-top:-5px !important;
}
.catalogModal .close{
    margin-top:-12px;
}

.catalogModal .modal-header{
    height:50px;
}
.catalogModal .itemImage{
    border: 1px solid #eee;
    border-radius: 5px;
    height: 100px;
    padding-top:10px;
    position: relative;
    text-align: center;
    line-height: 80px;
}
.catalogModal .imageRemove{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 26px;
    height:26px;
    border-radius: 13px;
}
.catalogModal .uploadImageBtn{

}
/*------------------*/

.radDropTable th{
    border:0px;
}

.radDropTable{
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.radDropTable td, .radDropTable th{
    border:0px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}