.shop-menu-head{
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
}
.shop-btn-add-area{
    width:100%;
}
.shop-tovar-item h4{
    margin-top:-5px;
}
.shop-tovar-item .actions{
    margin-top:-7px;
}
.shop-tovar-item .itemImage{
    text-align: center;
}
.shop-tovar-item .itemImage img{
    max-width: 100%;
    max-height: 300px;
}
.shop-tovar-item .itemImages{
    height: 40px;
    overflow: hidden;
    width: 100%;
}
.shop-tovar-item .smallImage{
    text-align: center;
    width: 100%;
}
.shop-tovar-item .smallImage img{
    max-width:130%;
    min-width: 100%;
}
.shop-tovar-item .itemCost{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.shop-tovar-item .leftBlock, .shop-tovar-item .rightBlock{
    margin-top:-15px;
    float:left;
}
    /*------------------*/
.catalogModal h3{
    font-size:18px;
    float:left;
    margin-top:-5px !important;
}
.catalogModal .close{
    margin-top:-12px;
}

.catalogModal .modal-header{
    height:50px;
}
.catalogModal .itemImage{
    border: 1px solid #eee;
    border-radius: 5px;
    height: 100px;
    padding-top:10px;
    position: relative;
    text-align: center;
    line-height: 80px;
}
.catalogModal .imageRemove{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 26px;
    height:26px;
    border-radius: 13px;
}
.catalogModal .uploadImageBtn{

}
/*------------------*/

.radDropTable th{
    border:0px;
}

.radDropTable{
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.radDropTable td, .radDropTable th{
    border:0px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}